<template>
<v-container>
    <v-row>
      <router-view></router-view>
    </v-row>
</v-container>
</template>
<script>
  export default {
        created(){
            this.$store.getters.getDessertsFromDataBase
        }
  }
</script>