<template>
    <v-col cols="12" sm="12">
      <h1>Edit Dessert</h1>
      <v-form v-model="valid" ref="form" validation>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="dessert.name"
                  label="Dessert name"
                  required
                ></v-text-field>
              </v-col>
               <v-col
                      cols="12"
                      md="4"
                    >
                      <v-text-field
                        v-model="dessert.calories"
                        :rules="caloriesRules"
                        label="Calories"
                        required
                      ></v-text-field>
               </v-col>

            </v-row>
          </v-container>
      </v-form>
      <router-link tag="v-btn"
            color="blue-grey"
            class="ma-2 white--text"
            to="/" >
            Back
             <v-icon
              right
              dark
            >
              mdi-arrow-left-circle
            </v-icon>
      </router-link>
      <v-btn
        color="blue-grey"
        class="ma-2 white--text"
        :disabled="!valid"
        @click="editDessert"
      >
        Save
        <v-icon
                      right
                      dark
                    >
                      mdi-checkbox-marked-circle
                    </v-icon>

      </v-btn>

    </v-col>
</template>
<script>
  export default {
    props:['id','index'],
    data () {
          return {
            dessert:{
                    id:null,
                    name:null,
                    calories:null
            },
            valid:false,
            nameRules: [
                            v => !!v || 'Name is required',
                            v => (v && v.length >= 3) || 'Name must be more than 3 characters',
                        ],
            caloriesRules: [
                v => !!v || 'Calories is required',
            ],
          }
        },

        mounted(){
        axios.get('api/dessert/'+this.$route.params.id)
                        .then(response => {
                           this.dessert = response.data
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
        },

    methods: {
        editDessert(){

         if(this.$refs.form.validate()){

             const getDesssert = this.$store.state.dessert.desserts.find(item => item.id == this.dessert.id)
             const index = this.$store.state.dessert.desserts.indexOf(getDesssert)

             const updateDessert = {
                                 id:this.dessert.id,
                                 name:this.dessert.name,
                                 calories:this.dessert.calories,
                                 index:index
                             }
             this.$store.dispatch('editDessert',updateDessert)
             .then(
               this.$router.push({ path: '/' })
              )
             .catch(() => {})

         }

        },

      },
  }
</script>