<template>
    <v-col cols="12" sm="12">
      <h1>My CRUD</h1>
      <router-link tag="v-btn"
              color="blue-grey"
              class="ma-2 white--text"
              to="/create/dessert" >
              Add Dessert
               <v-icon
                right
                dark
              >
                mdi-plus
              </v-icon>
      </router-link>
      <v-simple-table>
           <template v-slot:default>
             <thead>
               <tr>
                 <th class="text-left">
                   Name
                 </th>
                 <th class="text-left">
                   Calories
                 </th>
                 <th>
                 Actions
                 </th>
               </tr>
             </thead>
             <tbody>
               <tr
                 v-for="(dessert,index) in listDesserts"
                 :key="index"
               >
                 <td>{{ dessert.name }}</td>
                 <td>{{ dessert.calories }}</td>
                 <td>
                    <router-link tag="v-icon" :to="{ name: 'editDessert', params: { id: dessert.id, index:index}}" >mdi-pen</router-link>
                    <v-icon @click="deleteDessert([dessert.id,index])" >mdi-delete</v-icon>
                    <router-link tag="v-icon" :to="'/dessert/' + dessert.id" >mdi-eye</router-link>
                 </td>
               </tr>
             </tbody>
           </template>
         </v-simple-table>
    </v-col>
</template>
<script>
  export default {
    data () {
          return {

          }
        },

    computed: {
        listDesserts(){
            return this.$store.getters.listDesserts
        }
    },

    methods: {

    deleteDessert(data){
           this.$store.dispatch('deleteDessert',data)
         },

      },
  }
</script>