<template>
    <v-col cols="12" sm="12">
      <h1>New Dessert</h1>
      <v-form v-model="valid" ref="form" validation>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="dessert.name"
                  :rules="nameRules"
                  :counter="10"
                  label="Dessert name"
                  type="text"
                  required
                ></v-text-field>
              </v-col>
               <v-col
                      cols="12"
                      md="4"
                    >
                      <v-text-field
                        v-model="dessert.calories"
                        :rules="caloriesRules"
                        label="Calories"
                        type="number"
                        required
                      ></v-text-field>
               </v-col>

            </v-row>
          </v-container>
      </v-form>
      <router-link tag="v-btn"
            color="blue-grey"
            class="ma-2 white--text"
            to="/" >
            Back
             <v-icon
              right
              dark
            >
              mdi-arrow-left-circle
            </v-icon>
      </router-link>
      <v-btn
        color="blue-grey"
        class="ma-2 white--text"
        :disabled="!valid"
        @click="addDessert"
      >
        Save
        <v-icon
                      right
                      dark
                    >
                      mdi-checkbox-marked-circle
                    </v-icon>

      </v-btn>

    </v-col>
</template>
<script>
  export default {
    data () {
          return {
            dessert:{
                name: null,
                calories: null,
            },
            valid:false,
            nameRules: [
                            v => !!v || 'Name is required',
                            v => (v && v.length >= 3) || 'Name must be more than 3 characters',
                        ],
            caloriesRules: [
                v => !!v || 'Calories is required',
            ],
          }
        },
       methods: {
        addDessert(){

         if(this.$refs.form.validate()){

             const dessert = {
                                 name:this.dessert.name,
                                 calories:Number(this.dessert.calories),
                             }
              this.$store.dispatch('createDessert',dessert)
              .then(this.$router.push({ path: '/' }))
              .catch(() => {})
         }

        },

      },
  }
</script>