<template>
    <v-col cols="12" sm="12">
          <h1>Dessert name: {{dessert.name}}</h1>
          <h2>Calories: {{dessert.calories}}</h2>
          <router-link tag="v-btn"
                      color="blue-grey"
                      class="ma-2 white--text"
                      to="/" >
                      Back
                       <v-icon
                        right
                        dark
                      >
                        mdi-arrow-left-circle
                      </v-icon>
           </router-link>
    </v-col>
</template>
<script>
  export default {
    props:['id'],
    data () {
              return {
                    dessert:{
                         id:null,
                         name:null,
                         calories:null
                    }
              }
            },
    mounted(){
    axios.get('api/dessert/'+this.$route.params.id)
                    .then(response => {
                       this.dessert = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
    }
  }
</script>